@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.card {
  position: relative;
  padding: 1.5rem 1.5rem 4rem;
  width: 343px;
  background-color: #313a48;
  border-radius: 0.625rem;
  @include responsive(desktop) {
    width: 540px;
    padding: 3rem 3rem 4.5rem;
  }

  &__span {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2.5rem;
    margin-inline: 1.5rem;
    text-align: center;
    padding-bottom: 1.5rem;

    @include responsive(desktop) {
      padding-bottom: 3rem;
      margin-inline: 3rem;
    }

    &--id {
      font-family: 'Manrope', sans-serif;
      font-weight: 800;
      font-size: 0.6875rem;
      letter-spacing: 0.2162rem;
      color: #53ffaa;
    }

    &--text {
      font-family: 'Manrope', sans-serif;
      font-weight: 800;
      font-size: 1.5rem;
      letter-spacing: -0.0163rem;
      line-height: auto;
      color: #cee3e9;

      &:before {
        content: open-quote;
      }
      &:after {
        content: close-quote;
      }
    }
  }

  &__separator {
    margin-inline: 1.5rem;
    @include responsive(desktop) {
      margin-inline: 2.5rem;
    }
  }

  &__generator {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 50%;
    width: 64px;
    padding: 1.25rem;
    border-radius: 50%;
    background-color: #53ffaa;
    cursor: pointer;
    transition: box-shadow 0.2s;

    @include hover {
      box-shadow: 0px 0px 20px #53ffaa;
    }
  }
}
